/* FONT: 
    font-family: 'Bodoni Moda', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poiret One', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Montserrat&family=Poiret+One&display=swap');

/* COLORS */
    :root {
        /* BASE COLORS */
            /* Error Control */
            --red: #FF0000;
            --green: #17971e;   
            
            /* Black - White - Grays */
            --black: #000000;
            --ultra-dark-gray: #1f1f1f;
            --dark-gray: #3d3d3d;
            --gray: #5f5f5f;
            --light-gray: #8b8b8b;
            --white: #ffffff;
            --dirty-white: #FAFAFA;

        /* APLICATION COLORS */        
            /* WHITE MODE */
            --wm-details: #68A691;
            --wm-background: #FAFAFA;
            --wm-dark-background: #f5f5f5;
    }

/* TAMAÑOS A UTILIZAR */
/* 
    No avaliable     - min 0px
    Small Mobile     - min 320px
    Landscape Mobile - min 480px
    Tablet           - min 768px
    Desktop          - min 1024px
    Large Desktop    - min 1440px
*/


/* MEDIA QUERIES */
    @media only screen and (min-width: 0px) {
        #available { display: none; }
        #not-available { display: flex; }
    }

    @media only screen and (min-width: 320px) {
        /* BODY */
            #available { display: block; }
            #not-available { display: none; }
        /* HEADER */
            /** NAV **/
                nav { 
                    background-color: transparent;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row; }

                #menu ul{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: var(--wm-dark-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transform: translateX(-100%);
                    transition: transform 0.5s ease-in; }

                #menu ul li { margin: 10px 0px; }

                #menu ul a {
                    font-size: 1.5em;
                    font-weight: 600;
                    text-decoration: none;
                    margin: 1rem; }

                .burger {
                    position: absolute;
                    top: 2.5vh;
                    right: 2.5vw;
                    display: block;
                    z-index: 999; }
                
            /** Page Title **/
                #pageTitle h1 { font-size: 6em; }
                #rotative-text { font-size: 1.5em; }

            /** Scroller **/
                .scrolldown { transform: scale(0.5); }

        /* LANDSCAPE */
            #landscape { display: none; }

        /* ABOUT */
            #about img { display: none; }
            #about #aboutInfo { width: 100%; }
            #about #aboutInfo p { padding: 0px; }

        /* SERVICES */
            #services { height: auto; }
            .servicesGrid { grid-template-columns: repeat(1, 1fr); }
            #services div.row-space {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center; }
            #services .service { 
                min-height: auto;
                width: 90vw; }
            #services .service .imageCircle {
                width: 6vw;
                height: 6vw;
                border-radius: 50%;
                background-color: var(--wm-background); }
    
            #services .service .imageCircle img {
                width: 3vw;
                margin: 0 auto; }  
        /* SERVICE FORM */
            #serviceForm .modal-content { 
                margin: 1% auto;
                width: 90%; }
            #serviceForm .modal-content #formInfo { 
                justify-content: flex-start;
                overflow-y: auto;
                overflow-x: hidden; }
            #serviceForm .modal-content form { width: 100%; }
            #serviceForm .modal-content form .row-center { 
                margin: 0px;
                flex-direction: column;
                align-items: center; 
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start { 
                margin: 20px 0px 0px 0px;
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start input, #serviceForm .modal-content form .row-center .column-start textarea, #serviceForm .modal-content form .row-center .column-start .radioInput { width: 95%; }
            #serviceForm .modal-content form .row-center .column-start label { width: 90%; }

        /* EXPERIENCE */
            #experience .container { width: 90%; }
            #experience .container .experience { width: 100%; }
            #experience .experience .basicInfo .textInfo { 
                flex-direction: column;
                justify-content: center;
                align-items: flex-start; }
            #experience .experience .basicInfo .textInfo .experienceName { margin: 20px 30px 5px; }
            #experience .experience .basicInfo .textInfo .experienceDate { margin: 5px 30px 20px; }
            #experience .container .experience .extendedInfo { justify-content: space-between; }
            #experience .container .experience .extendedInfo .info .externalInfo { margin-top: 0px; }
            #experience .container .experience .extendedInfo .workInfo { 
                flex-direction: column; 
                align-items: flex-start;
                width: 100%; }
            #experience .container .experience .extendedInfo .textInfo { 
                width: 95%;
                font-size: 0.8em;
                margin-top: 10px; }
            #experience .container .experience .extendedInfo .workInfo .bx-link-external { margin-left: 0px; }
            #experience .container .experience .extendedInfo .roundedExperiences { display: none; }
            #experience .container .experience .extendedInfo .image { display: none; }

        /* CERTIFICATES */
            #certificates {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
            #certificates .certificate { 
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                transform: scale(0.9);
                margin: 0px auto; }
            #certificates .certificate .certificateInfo h3 { margin: 0px; }
            #certificates .certificate p.info {
                padding-right: 10%;
                width: 90%; }
            #certificates .certificate .certificateInfo { width: 100%; }
            #certificates .certificate .date {
                width: 100%;
                align-items: flex-start;
                min-height: auto;
                height: auto; }
            #certificates .certificate .date p {
                transform: rotate(0deg);
                margin: 0px; }

        /* PROJECTS */
            .projectGrid { grid-template-columns: repeat(1, 1fr); }
            #projects .project { width: 100%; }
            #projects .project .icons span { font-size: 1.6em;}
            #projects .project .downCard p { 
                margin-top: 30px;
                font-size: 1em; }

        /* FOOTER */
            footer { flex-direction: column-reverse !important; }
            footer .footerInfo {
                align-items: center;
                width: 100%;
                height: auto; }
            footer .footerInfo h2 { 
                text-align: center;
                width: 90%;
                font-size: 2.2em; 
                padding-left: 0px;
                margin-left: 0px; }
            footer .footerInfo p { 
                text-align: center;
                padding-left: 0px;
                margin-left: 0px;
                width: 90%; }
            footer .footerInfo .rrss {
                padding-left: 0px;
                margin-left: 0px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                width: auto;
                height: auto; }
            footer .footerContact {
                margin: 30px 0px;
                width: 100%;
                height: auto; }
            footer .footerContact .row-center { flex-direction: column; }
            footer .footerContact .row-center .column-start { align-items: flex-start !important; }
            footer .footerContact .row-center .column-start input {
                width: 100% !important;
                margin: 0px; }
            footer .footerContact .row-center .column-start label { padding-left: 30px; }
            footer .footerContact .row-center .right_input { margin-top: 10px; }

        /* ERROR PAGE */
            #errorPage {
                display: flex;
                flex-direction: column; }
            #errorPage #infoPage { width: 100%; }
            #errorPage #infoPage h1 { 
                width: 90%;
                font-size: 3.5em; }
            #errorPage #infoPage p { 
                text-align: center;
                width: 90%; 
                font-size: 1em; }
            #errorPage #infoPage .btn { transform: scale(0.8); }
            #errorPage #imagePage {
                display: none; }
            #errorPage .scrolldown {
                transform: translate(-50%, -5%) scale(0.4);
                left: 50%;
                width: 100%;
            }
    }

    @media only screen and (min-width: 360px) {
        /* HEADER */
            /** NAV **/
                nav { 
                    background-color: transparent;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row; }

                #menu ul{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: var(--wm-dark-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transform: translateX(-100%);
                    transition: transform 0.5s ease-in; }

                #menu ul li { margin: 10px 0px; }

                #menu ul a {
                    font-size: 1.5em;
                    font-weight: 600;
                    text-decoration: none;
                    margin: 1rem; }

                .burger {
                    position: absolute;
                    top: 2.5vh;
                    right: 2.5vw;
                    display: block;
                    z-index: 999; }
                
            /** Page Title **/
                #pageTitle h1 { font-size: 6em; }
                #rotative-text { font-size: 1.5em; }

            /** Scroller **/
            .scrolldown { transform: scale(0.5); }
        
        /* LANDSCAPE */
            #landscape { display: none; }

        /* ABOUT */
            #about img { display: none; }
            #about #aboutInfo { width: 100%; }
            #about #aboutInfo p { padding: 0px; }

        /* SERVICES */
            #services { height: auto; }
            .servicesGrid { grid-template-columns: repeat(1, 1fr); }
            #services div.row-space {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center; }
            #services .service { 
                min-height: auto;
                width: 90vw; }
            #services .service .imageCircle {
                width: 6vw;
                height: 6vw;
                border-radius: 50%;
                background-color: var(--wm-background); }
    
            #services .service .imageCircle img {
                width: 3vw;
                margin: 0 auto; }
            
        /* SERVICE FORM */
            #serviceForm .modal-content { 
                margin: 1% auto;
                width: 90%; }
            #serviceForm .modal-content #formInfo { 
                justify-content: flex-start;
                overflow-y: auto;
                overflow-x: hidden; }
            #serviceForm .modal-content form { width: 100%; }
            #serviceForm .modal-content form .row-center { 
                margin: 0px;
                flex-direction: column;
                align-items: center; 
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start { 
                margin: 20px 0px 0px 0px;
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start input, #serviceForm .modal-content form .row-center .column-start textarea, #serviceForm .modal-content form .row-center .column-start .radioInput { width: 95%; }
            #serviceForm .modal-content form .row-center .column-start label { width: 90%; }

        /* EXPERIENCE */
            #experience .container { width: 90%; }
            #experience .container .experience { width: 100%; }
            #experience .experience .basicInfo .textInfo { 
                flex-direction: column;
                justify-content: center;
                align-items: flex-start; }
            #experience .experience .basicInfo .textInfo .experienceName { margin: 20px 30px 5px; }
            #experience .experience .basicInfo .textInfo .experienceDate { margin: 5px 30px 20px; }
            #experience .container .experience .extendedInfo { justify-content: space-between; }
            #experience .container .experience .extendedInfo .info .externalInfo { margin-top: 0px; }
            #experience .container .experience .extendedInfo .workInfo { 
                flex-direction: column; 
                align-items: flex-start;
                width: 100%; }
            #experience .container .experience .extendedInfo .textInfo { 
                width: 85%;
                font-size: 0.9em;
                margin-top: 20px; }
            #experience .container .experience .extendedInfo .workInfo .bx-link-external { margin-left: 0px; }
            #experience .container .experience .extendedInfo .roundedExperiences { display: none; }
            #experience .container .experience .extendedInfo .image { display: none; }

        /* CERTIFICATES */
            #certificates {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
            #certificates .certificate { 
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                transform: scale(0.9);
                margin: 0px auto; }
            #certificates .certificate .certificateInfo h3 { margin: 0px; }
            #certificates .certificate p.info {
                padding-right: 10%;
                width: 90%; }
            #certificates .certificate .certificateInfo { width: 100%; }
            #certificates .certificate .date {
                width: 100%;
                align-items: flex-start;
                min-height: auto;
                height: auto; }
            #certificates .certificate .date p {
                transform: rotate(0deg);
                margin: 0px; }

        /* PROJECTS */
            .projectGrid { grid-template-columns: repeat(1, 1fr); }
            #projects .project { width: 100%; }
            #projects .project .icons span { font-size: 1.9em;}
            #projects .project .downCard p { 
                margin-top: 20px;
                font-size: 1em; }
        
        /* FOOTER */
            footer { flex-direction: column-reverse !important; }
            footer .footerInfo {
                align-items: center;
                width: 100%;
                height: auto; }
            footer .footerInfo h2 { 
                text-align: center;
                width: 90%;
                font-size: 2.2em; 
                padding-left: 0px;
                margin-left: 0px; }
            footer .footerInfo p { 
                text-align: center;
                padding-left: 0px;
                margin-left: 0px;
                width: 90%; }
            footer .footerInfo .rrss {
                padding-left: 0px;
                margin-left: 0px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                width: auto;
                height: auto; }
            footer .footerContact {
                margin: 30px 0px;
                width: 100%;
                height: auto; }
            footer .footerContact .row-center { flex-direction: column; }
            footer .footerContact .row-center .column-start { align-items: flex-start !important; }
            footer .footerContact .row-center .column-start input {
                width: 100% !important;
                margin: 0px; }
            footer .footerContact .row-center .column-start label { padding-left: 30px; }
            footer .footerContact .row-center .right_input { margin-top: 10px; }

        /* ERROR PAGE */
            #errorPage #infoPage { width: 100%; }
            #errorPage #infoPage h1 { 
                text-align: center;
                width: 70%;
                font-size: 4em; }
            #errorPage #infoPage p { 
                text-align: center;
                width: 70%; 
                font-size: 1.2em; }
            #errorPage #infoPage .btn { transform: scale(1); }
            #errorPage #imagePage {
                display: none; }
            #errorPage .scrolldown {
                transform: translate(-50%, -5%) scale(0.5);
                left: 50%;
                width: 100%;
            }
                
    }

    @media only screen and (min-width: 480px) { 
        /* HEADER */
            /** NAV **/
                nav { 
                    background-color: transparent;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row; }

                #menu ul{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: var(--wm-dark-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transform: translateX(-100%);
                    transition: transform 0.5s ease-in; }

                #menu ul li { margin: 10px 0px;}

                #menu ul a {
                    font-size: 1.5em;
                    font-weight: 600;
                    text-decoration: none;
                    margin: 1rem; }

                .burger {
                    position: absolute;
                    top: 2.5vh;
                    right: 2.5vw;
                    display: block;
                    z-index: 999; }

            /** Page Title **/
                #pageTitle h1 { font-size: 7em; }
                #rotative-text { font-size: 2em; }

            /** Scroller **/
                .scrolldown { transform: scale(0.5); }

        /* LANDSCAPE */
            #landscape { display: block; }

        /* ABOUT */
            #about img { display: none; }
            #about #aboutInfo { width: 90%; }
            #about #aboutInfo p { padding: 0px; }

        /* SERVICES */
            #services { height: auto; }
            .servicesGrid { grid-template-columns: repeat(1, 1fr); }
            #services div.row-space {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center; }
            #services .service { 
                min-height: auto;
                width: 90vw; }
            #services .service .imageCircle {
                width: 5vw;
                height: 5vw;
                border-radius: 50%;
                background-color: var(--wm-background); }
    
            #services .service .imageCircle img {
                width: 2.5vw;
                margin: 0 auto; }
    
        /* SERVICE FORM */
            #serviceForm .modal-content { 
                margin: 2% auto;
                width: 90%; }
            #serviceForm .modal-content #formInfo { 
                justify-content: flex-start;
                overflow-y: auto;
                overflow-x: hidden; }
            #serviceForm .modal-content form { width: 100%; }
            #serviceForm .modal-content form .row-center { 
                margin: 0px;
                flex-direction: column;
                align-items: center; 
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start { 
                margin: 20px 0px 0px 0px;
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start input, #serviceForm .modal-content form .row-center .column-start textarea, #serviceForm .modal-content form .row-center .column-start .radioInput { width: 95%; }
            #serviceForm .modal-content form .row-center .column-start label { width: 90%; }

        /* EXPERIENCE */
            #experience .container { width: 90%; }
            #experience .container .experience { width: 100%; }
            #experience .experience .basicInfo .textInfo { 
                flex-direction: column;
                justify-content: center;
                align-items: flex-start; }
            #experience .experience .basicInfo .textInfo .experienceName { margin: 20px 30px 5px; }
            #experience .experience .basicInfo .textInfo .experienceDate { margin: 5px 30px 20px; }
            #experience .container .experience .extendedInfo { justify-content: space-between; }
            #experience .container .experience .extendedInfo .info .externalInfo { margin-top: 0px; }
            #experience .container .experience .extendedInfo .workInfo { 
                flex-direction: column; 
                align-items: flex-start;
                width: 100%; }
            #experience .container .experience .extendedInfo .textInfo { 
                width: 85%;
                font-size: 1em;
                margin-top: 20px; }
            #experience .container .experience .extendedInfo .workInfo .bx-link-external { margin-left: 0px; }
            #experience .container .experience .extendedInfo .roundedExperiences { display: none; }
            #experience .container .experience .extendedInfo .image { display: none; }

        /* CERTIFICATES */
            #certificates {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
            #certificates .certificate { 
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                transform: scale(1);
                margin: 0px auto; }
            #certificates .certificate .certificateInfo h3 { margin: 0px; }
            #certificates .certificate p.info {
                padding-right: 10%;
                width: 90%; }
            #certificates .certificate .certificateInfo { width: 100%; }
            #certificates .certificate .date {
                width: 100%;
                align-items: flex-start;
                min-height: auto;
                height: auto; }
            #certificates .certificate .date p {
                transform: rotate(0deg);
                margin: 0px; }

        /* PROJECTS */
            .projectGrid { grid-template-columns: repeat(1, 1fr); }
            #projects .project { width: 90vw; }
            #projects .project .icons span { font-size: 1.8em;}
            #projects .project .downCard p { 
                margin-top: 10px;
                font-size: 1.2em; }

        /* FOOTER */
            footer { flex-direction: column-reverse !important; }
            footer .footerInfo {
                align-items: center;
                width: 100%;
                height: auto; }
            footer .footerInfo h2 { 
                text-align: center;
                width: 90%;
                font-size: 2.2em; 
                padding-left: 0px;
                margin-left: 0px; }
            footer .footerInfo p { 
                text-align: center;
                padding-left: 0px;
                margin-left: 0px;
                width: 90%; }
            footer .footerInfo .rrss {
                padding-left: 0px;
                margin-left: 0px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: auto;
                height: auto; }
            footer .footerContact {
                margin: 30px 0px;
                width: 100%;
                height: auto; }
            footer .footerContact .row-center { flex-direction: column; }
            footer .footerContact .row-center .column-start { align-items: flex-start !important; }
            footer .footerContact .row-center .column-start input {
                width: 100% !important;
                margin: 0px; }
            footer .footerContact .row-center .column-start label { padding-left: 30px; }
            footer .footerContact .row-center .right_input { margin-top: 10px; }

        /* ERROR PAGE */
            #errorPage #infoPage { width: 100%; }
            #errorPage #infoPage h1 { 
                width: 70%;
                font-size: 5em; }
            #errorPage #infoPage p { 
                text-align: center;
                width: 70%; 
                font-size: 1.2em; }
            #errorPage #imagePage {
                display: none; }
            #errorPage .scrolldown {
                left: 50%;
                width: 100%;
            }
    }

    @media only screen and (min-width: 768px) {
        /* HEADER */
            /** NAV **/
                nav { 
                    background-color: transparent;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row; }

                #menu ul{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: var(--wm-dark-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transform: translateX(-100%);
                    transition: transform 0.5s ease-in; }

                #menu ul li { margin: 10px 0px;}

                #menu ul a {
                    font-size: 1.7em;
                    font-weight: 600;
                    text-decoration: none;
                    margin: 1rem; }

                .burger {
                    position: absolute;
                    top: 2.5vh;
                    right: 2.5vw;
                    display: block;
                    z-index: 999; }

        /* LANSCAPE */
            #landscape { display: block; }

        /* ABOUT */
            #about img { display: none; }
            #about #aboutInfo { width: 80%; }
            #about #aboutInfo p { padding-left: 0px; }

        /* SERVICES */
            #services { height: auto; }
            .servicesGrid { grid-template-columns: repeat(1, 1fr); }
            #services div.row-space {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center; }
            #services .service { 
                min-height: auto;
                width: 80vw; }
            #services .service .imageCircle {
                width: 4vw;
                height: 4vw;
                border-radius: 50%;
                background-color: var(--wm-background); }
    
            #services .service .imageCircle img {
                width: 2vw;
                margin: 0 auto; }
            
        /* SERVICE FORM */
            #serviceForm .modal-content { 
                margin: 2% auto;
                width: 90%; }
            #serviceForm .modal-content form { width: 100%; }
            #serviceForm .modal-content form .row-center { 
                flex-direction: row;
                margin-top: 20px;
                width: 100%; }
            #serviceForm .modal-content form .row-center .column-start { width: 80%; }
            #serviceForm .modal-content form .row-center .column-start input, #serviceForm .modal-content form .row-center .column-start textarea, #serviceForm .modal-content form .row-center .column-start .radioInput { width: 90%; }
            #serviceForm .modal-content form .row-center .column-start label { width: 90%; }
        
        /* EXPERIENCE */
            #experience .container .experience .extendedInfo .info .externalInfo { margin-top: 0px; }
            #experience .experience .basicInfo .textInfo { 
                flex-direction: row;
                justify-content: space-between;
                align-items: center; }
            #experience .experience .basicInfo .textInfo .experienceName { margin: 15px 30px; }
            #experience .experience .basicInfo .textInfo .experienceDate { margin: 0px 0px 0px; }
            #experience .container .experience .extendedInfo { justify-content: space-between; }
            #experience .container .experience .extendedInfo .textInfo { margin-top: 10px; }
            #experience .container .experience .extendedInfo .workInfo .bx-link-external { margin-left: 30px; }
            #experience .container .experience .extendedInfo .workInfo { 
                flex-direction: row; 
                align-items: center; }
            #experience .container .experience .extendedInfo .roundedExperiences { 
                display: flex;
                margin-left: 10px;
                transform: scale(0.9); }
            #experience .container .experience .extendedInfo .image { display: none; }

        /* CERTIFICATES */
            #certificates {
                display: grid;
                grid-template-columns: repeat(1, 1fr); }
            #certificates .certificate { 
                padding: 0px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transform: scale(1);
                margin: 20px auto; }
            #certificates .certificate .certificateInfo h3 { margin-top: 10px; }
            #certificates .certificate p.info {
                padding-right: 10%;
                width: 90%; }
            #certificates .certificate .certificateInfo { width: 100%; }
            #certificates .certificate .date {
                width: 100px;
                align-items: flex-end;
                min-height: auto;
                height: auto; }
            #certificates .certificate .date p {
                transform: rotate(-90deg);
                margin: 0px; }

        /* PROJECTS */
            .projectGrid { grid-template-columns: repeat(2, 1fr); }
            #projects .project { width: 90%; }
            #projects .project .icons span { font-size: 1.8em;}
            #projects .project .downCard p { 
                margin-top: 20px;
                font-size: 1em; }
        
        /* FOOTER */
            footer { flex-direction: column-reverse !important; }
            footer .footerInfo {
                align-items: flex-start;
                width: 100%;
                height: auto; }
            footer .footerInfo h2 { 
                text-align: left;
                width: 70%;
                font-size: 2.6em; 
                margin-left: 70px; }
            footer .footerInfo p { 
                padding-left: 30px;
                text-align: left;
                margin-left: 70px;
                width: 70%; }
            footer .footerInfo .rrss {
                padding-left: 30px;
                margin-left: 70px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: auto;
                height: auto; }
            footer .footerContact {
                margin: 30px 0px;
                width: 100%;
                height: auto; }
            footer .footerContact .row-center { flex-direction: column; }
            footer .footerContact .row-center .column-start { align-items: flex-start !important; }
            footer .footerContact .row-center .column-start input {
                width: 100% !important;
                margin: 0px; }
            footer .footerContact .row-center .column-start label { padding-left: 30px; }
            footer .footerContact .row-center .right_input { margin-top: 10px; }
                
        /* ERROR PAGE */
            #errorPage #infoPage { width: 100%; }
            #errorPage #infoPage h1 { width: 90%; }
            #errorPage #infoPage p { width: 70%; }
            #errorPage #imagePage {
                display: none; }
            #errorPage .scrolldown {
                left: 50%;
                width: 100%;
            }
    }

    @media only screen and (min-width: 1024px) {
        /* HEADER */
            /** NAV **/
                #menu ul{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 5vh;
                    background: var(--wm-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    transform: translateX(0%) !important;
                    transition: transform 0.5s ease-in; }

                #menu ul li { margin: 0px 10px;}

                #menu ul a {
                    font-size: 1em;
                    font-weight: 600;
                    text-decoration: none; }
                
                .burger{
                    display: none;
                    z-index: 999; }

            /** Page Title **/
                #pageTitle h1 { 
                    padding-top: 90px;
                    font-size: 8em; }
                #rotative-text { font-size: 2.5em; }
                
        /* LANDSCAPE */
            #landscape { display: block; }

        /* ABOUT */
            #about img { display: block; }
            #about #aboutInfo { width: 60vw; }
            #about #aboutInfo p { padding-left: 40px; }

        /* SERVICES */
            #services { height: auto; }
            .servicesGrid { grid-template-columns: repeat(1, 1fr); }
            #services div.row-space {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; }
            #services .service { 
                margin: 25px auto;
                min-height: auto;
                height: auto;
                width: 90%; }
            #services .service .imageCircle {
                width: 2.5vw;
                height: 2.5vw;
                border-radius: 50%;
                background-color: var(--wm-background); }
    
            #services .service .imageCircle img {
                width: 1.3vw;
                margin: 0 auto; }
            
        /* SERVICE FORM */
            #serviceForm .modal-content { 
                margin: 2% auto;
                width: 80%; }
            #serviceForm .modal-content form { width: 100%; }
            #serviceForm .modal-content form .row-center { width: 100%; }
            #serviceForm .modal-content form .row-center .column-start { width: 80%; }
            #serviceForm .modal-content form .row-center .column-start input, #serviceForm .modal-content form .row-center .column-start textarea, #serviceForm .modal-content form .row-center .column-start .radioInput { width: 90%; }
            #serviceForm .modal-content form .row-center .column-start label { width: 90%; }

        /* EXPERIENCE */
            #experience .container { width: 90%; }
            #experience .container .experience { width: 90%; }
            #experience .container .experience .extendedInfo { justify-content: center; }
            #experience .container .experience .extendedInfo .roundedExperiences { 
                margin-left: 50px;
                transform: scale(1); }
            #experience .container .experience .extendedInfo .image { display: flex; }

        /* CERTIFICATES */
            #certificates {
                display: grid;
                grid-template-columns: repeat(2, 1fr); }

            #certificates .certificate .date {
                min-height: 30vh;
                height: 100%;
                width: 25%; }
        
            #certificates .certificate .date p { 
                margin-top: 50px;
                margin-right: 20px;
                transform: rotate(0deg); }

        /* PROJECTS */
            .projectGrid { grid-template-columns: repeat(2, 1fr); }
            #projects .project .icons span { font-size: 2.4em;}
            #projects .project .downCard p { 
                margin-top: 20px;
                font-size: 1.2em; }

        /* FOOTER */
            footer { 
                height: auto;
                flex-direction: row !important; }
            footer .footerInfo {
                padding: 40px 0px;
                width: 50%;
                height: 100%; }
            footer .footerInfo h2 { 
                margin-left: 70px;
                font-size: 2.6em; }
            footer .footerInfo p { 
                margin-left: 70px; }
            footer .footerInfo .rrss {
                margin-left: 70px;
                display: flex;
                flex-direction: column;
                width: auto;
                height: 100%; }
            footer .footerContact {
                margin: 0px;
                width: 50%;
                height: auto; }
            footer .footerContact .row-center { flex-direction: column; }
            footer .footerContact .row-center .column-start { align-items: flex-start !important; }
            footer .footerContact .row-center .column-start input {
                width: 100% !important;
                margin: 0px; }
            footer .footerContact .row-center .column-start label { padding-left: 30px; }
            footer .footerContact .row-center .right_input { margin-top: 10px; }
            
            
        /* ERROR PAGE */
            #errorPage {
                flex-direction: row; }
            #errorPage #infoPage { width: 50%; }
            #errorPage #infoPage h1 { font-size: 5em; }
            #errorPage #infoPage p { 
                text-align: center;
                width: 70%; 
                font-size: 1.2em; }
            #errorPage #imagePage {
                display: flex;
                width: 50%; }
            #errorPage .scrolldown {
                left: 25%;
                width: 30%;
            }
    }

    @media only screen and (min-width: 1440px) {
        /* LANDSCAPE */
            #landscape { display: block; }

        /* ABOUT */
            #about img { display: block; }
            #about #aboutInfo { width: 50vw; }
            #about #aboutInfo p { padding-left: 40px; }

        /* SERVICES */
            .servicesGrid { grid-template-columns: repeat(3, 1fr); }
            .service {
                min-height: 55vh;
                width: 28vw; }
            
        /* SERVICE FORM */
            #serviceForm .modal-content { 
                margin: 8% auto;
                width: 80%; }
            #serviceForm .modal-content form { width: 100%; }
            #serviceForm .modal-content form .row-center { width: 100%; }
            #serviceForm .modal-content form .row-center .column-start { width: 80%; }
            #serviceForm .modal-content form .row-center .column-start input, #serviceForm .modal-content form .row-center .column-start textarea, #serviceForm .modal-content form .row-center .column-start .radioInput { width: 90%; }
            #serviceForm .modal-content form .row-center .column-start label { width: 90%; }

        /* EXPERIENCE */
            #experience .container { width: 80%; }
            #experience .container .experience { width: 60vw; }
            #experience .container .experience .extendedInfo { justify-content: center; }
            #experience .container .experience .extendedInfo .roundedExperiences { 
                margin-left: 50px;
                transform: scale(1); }
            #experience .container .experience .extendedInfo .image { display: flex; }

        /* PROJECTS */
            .projectGrid { grid-template-columns: repeat(3, 1fr); }

        /* FOOTER */
            footer .footerInfo h2 { 
                margin-left: 90px;
                font-size: 3.5em; }
            footer .footerInfo p { 
                margin-left: 90px;
                font-size: 1.2em; }
            footer .footerInfo .rrss { margin-left: 90px; }
            footer .footerInfo { 
                padding: 0px;
                width: 50%;
                height: 100%; }
            footer .footerContact .row-center { flex-direction: row; }
            footer .footerContact .row-center .column-start input { width: 95% !important; }
            footer .footerContact .row-center .right_input { 
                align-items: flex-end !important;
                margin-top: 0px; }
            footer .footerContact .row-center .right_input label { margin-right: 30px; }
    }

